*.pyc
userdata/
db.sqlite3
anviserver/settings.py
anviserver/secrets.py
main/static/interactive
nginx.conf
gunicorn.conf.py
/anviserver/settings/local.py

### Django ###
*.log
*.pot
__pycache__/
local_settings.py
db.sqlite3-journal
media
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

