{% extends 'index.html' %} {% block title %}Edit "{{ project.name }}"{% endblock %} {% block content %}
<div class="page-header">
    <h3><a href="{% url 'projects' %}">My Projects</a> &raquo; Edit "{{ project.name }}"</h3>
</div>
<div class="col-md-12 col-sm-12">
    <div class="well">
        <legend>Project files</legend>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th class="td-center">Action</th>
            </thead>
            <tbody>
            {% for file in project_files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.size|filesizeformat }}</td>
                    <td class="td-center">asd</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>
</div>
{% with project.get_interactive as interactive %}
<div class="col-md-6 col-sm-6">
    <div class="well">
            <legend>Collections</legend>
            {% with interactive.collections.collections_dict as collections %}
                {% if collections %}
                <table class="table table-hover">
                    <thead>
                        <th>Name</th>
                        <th>Number of bins</th>
                        <th>Number of leaves</th>
                    </thead>
                    <tbody>
                    {% for key, values in collections.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ values.num_bins }}</td>
                            <td>{{ values.num_splits }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% else %}
                    <div class="alert alert-info">
                        There is no collection to show here.
                    </div>
                {% endif %}
            {% endwith %}
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="well">
            <legend>States</legend>
             {% with interactive.states_table.states as states %}
                {% if states %}
                <table class="table table-hover">
                    <thead>
                        <th>Name</th>
                        <th>Last modified</th>
                    </thead>
                    <tbody>
                    {% for key, values in states.items %}
                        <tr>
                            <td><a href='#' onclick="saveTextAsFile('state_content_{{ forloop.counter0 }}' ,'{{ key }}.json');">{{ key }}</a>
                                <textarea id="state_content_{{ forloop.counter0 }}" style="display: none;">{{ values.content }}</textarea>
                            </td>
                            <td>{{ values.last_modified }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% else %}
                    <div class="alert alert-info">
                        There is no states to show here.
                    </div>
                {% endif %}
            {% endwith %}
    </div>
</div>
{% endwith %}
<script>

function saveTextAsFile(textarea_id, name)
{
    var textToWrite = $('#' + textarea_id).val();
    var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
    var fileNameToSaveAs = name;

    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    if (window.webkitURL != null)
    {
        // Chrome allows the link to be clicked
        // without actually adding it to the DOM.
        downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
    }
    else
    {
        // Firefox requires the link to be added to the DOM
        // before it can be clicked.
        downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        downloadLink.onclick = destroyClickedElement;
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
    }

    downloadLink.click();
}
</script>
{% endblock %} {% block header %} {% load staticfiles %}

{% endblock %}
