{% extends 'index.html' %} {% block title %}{{ project.name }}{% endblock %} {% block content %}
<div class="page-header">
    <h2>{{ project.name }}</h2>
</div>
<div class="well">
    <legend>Project files</legend>
    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th class="td-center">Action</th>
        </thead>
        <tbody>
        {% for file in project_files %}
            <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.size|filesizeformat }}</td>
            <td class="td-center">asd</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
</div>
<div class="well">
    <legend>Sharing</legend>
        <div class="col-md-4">
            Public
        </div>
        <div class="col-md-8">
            No
        </div>

</div>
{% endblock %} {% block header %} {% load staticfiles %}

{% endblock %}
