{% extends 'index.html' %} {% block title %}{{ page_title }}{% endblock %} {% block content %}
<div class="page-header">
    <h3>My Projects</h3>
</div>
<div id="list_projects">
    {% include '_partial/_list_projects.html' %}
</div>
<br /> {% if not shared_with_me %}
<a href="{% url 'projects_new' %}">
    <button class="btn btn-primary">New Project</button>
</a>
{% endif %}
<script>
function deleteProject(name) {
    if (!confirm("Do you really want to delete '" + name + "'?"))
        return;
    $.ajax({
        type: "POST",
        url: "{% url 'projects' %}",
        data: {
            'name': name,
            'action': 'delete',
            'csrfmiddlewaretoken': '{{csrf_token}}'
        },
        success: function(partial) {
            $('#list_projects').html(partial);
        }
    });
}
</script>
{% endblock %}
