{% extends 'index.html' %} {% block title %}My Projects{% endblock %} {% block content %}
<div class="page-header">
    <h3>My Projects</h3>
</div>
<div id="list_projects">
    {% if projects %}
     <div class="well">
        <table id="project_table" class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-1">Layers</th>
                    <th class="col-md-1">Leaves</th>
                    <th class="col-md-1">Collections</th>
                    <th class="col-md-1">States</th>
                    <th class="col-md-1">Created</th>
                    <th class="col-md-1 text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'show_interactive' project.user project.name %}">{{ project.name }}</a> {% if project.is_public %}<span class="label label-warning">Public</span>{% endif %}</td>
                    <td>{{ project.num_layers }}</td>
                    <td>{{ project.num_leaves }}</td>
                    <td>{{ project.num_collections }}</td>
                    <td>{{ project.num_states }}</td>
                    <td><small><time class="timeago" datetime='{{ project.created_at|date:"c" }}'>{{ project.created_at }}</time><small></td>
                    <td class="text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Actions <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'projects_share' project.name %}"><span class="glyphicon glyphicon-share"></span> Share</a></li>
                                <li><a href="{% url 'projects_details' project.name %}"><span class="glyphicon glyphicon-info-sign"></span> Details</a></li>
                                <li><a href="#" onclick="deleteProject('{{ project.name }}');"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                            </ul>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <div class="alert alert-info">
        There is no project to show here.
    </div>
    {% endif %}

</div>
<br /> {% if not shared_with_me %}
<a href="{% url 'projects_new' %}">
    <button class="btn btn-primary">Create new project</button>
</a>
{% endif %}
<script>
$(document).ready(function() {
    $('#project_table').DataTable({
        columnDefs: [{ orderable: false, targets: -1 }],
        order: [[ 5, "desc" ]]
    });

    $("#project_table").on('draw.dt', function() {
        jQuery("time.timeago").timeago();
    });
} );

function deleteProject(name) {
    if (!confirm("Do you really want to delete '" + name + "'?"))
        return;
    $.ajax({
        type: "POST",
        url: "{% url 'projects' %}",
        data: {
            'name': name,
            'action': 'delete',
            'csrfmiddlewaretoken': '{{csrf_token}}'
        },
        success: function(partial) {
             location.reload();
        }
    });
}
</script>
{% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/datatables.min.js"></script>
{% endblock %}