{% extends 'index.html' %} {% block title %}Share {{ project.name }}{% endblock %} {% block content %}
<div class="page-header">
    <h3><a href="{% url 'projects' %}">My Projects</a> <span>&raquo;</span> Share "{{ project.name }}"</h3>
</div>
<div class="col-md-12">
    <div class="well">
        <form class="form-horizontal" action="#" onsubmit="return false;">
            <legend>Basic Sharing</legend>
            <div class="form-group">
                <label class="control-label col-md-3" for="name">Private Sharing Link</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="private_link" value="{% if request.is_secure %}http://{% else %}http://{% endif %}{{ request.get_host }}{% url 'show_interactive' project.user.username project.name%}?view_key={{ project.view_key }}" readonly="readonly">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" type="button" onclick="generate_view_key()">
                            <span class="glyphicon glyphicon-refresh"></span> Refresh Link
                        </button>
                        <button class="btn btn-primary btn-sm" type="button" data-clipboard-target="#public_link">
                            <span class="glyphicon glyphicon-copy"></span> Copy
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-md-6" id="shared_with_email">
    <div class="well">
        <form class="form-horizontal" action="#" onsubmit="share_with_email(); return false;">
            <legend>Share with people</legend>
            <div id="shared_email_list_container">
                {% include '_partial/_shared_email_list.html' %}
            </div>
            <div class="input-group">
                <input type="text" class="form-control input-sm" id="email" placeholder="Enter e-mail adress">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" type="submit">
                    <span class="glyphicon glyphicon-share"></span> Share
                </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="col-md-6">
    <div class="well">
        <form class="form-horizontal" action="#" onsubmit="share_with_team(); return false;">
            <legend>Share with your teams</legend>
            <div id="shared_team_list_container">
                {% include '_partial/_shared_team_list.html' %}
            </div>
            <div class="input-group">
                <select class="form-control input-sm" id="team_id">
                    <option selected disabled>Select a team</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="submit">
                        <span class="glyphicon glyphicon-share"></span> Share
                </button>
                </span>
            </div>
        </form>
    </div>
</div>
<script>
function initalizePlugins() {
    $('input:checkbox').bootstrapToggle({
        on: 'Yes',
        off: 'No'
    });
}

new Clipboard('.btn');
initalizePlugins();

$(document).ajaxComplete(function() {
    initalizePlugins();
});

function generate_view_key() {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.name %}",
        data: {
            'action': 'generate_view_key',
            'csrfmiddlewaretoken': $("{% csrf_token %}").val(),
        },
        success: function(result) {
            if (result['status'] == 'ok') {
                $('#private_link').val("{% if request.is_secure %}http://{% else %}http://{% endif %}{{ request.get_host }}{% url 'show_interactive' project.user.username project.name%}?view_key=" + result['view_key'])
            }
        }
    });
}

function share_with_email() {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.name %}",
        data: {
            'action': 'share_with_email',
            'email': $('#email').val(),
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function(partial) {
            $('#shared_email_list_container').html(partial);
            $('#email').val('');
        }
    });
}

function share_with_team() {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.name %}",
        data: {
            'action': 'share_with_team',
            'team_id': $('#team_id').val(),
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function(partial) {
            $('#shared_team_list_container').html(partial);
        }
    });
}

function delete_email(email) {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.name %}",
        data: {
            'action': 'delete_email',
            'email': email,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function(partial) {
            $('#shared_email_list_container').html(partial);
        }
    });
}

function delete_team(id) {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.name %}",
        data: {
            'action': 'delete_team',
            'team_id': id,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function(partial) {
            $('#shared_team_list_container').html(partial);
        }
    });
}
</script>
{% endblock %} {% block header %} {% load staticfiles %}
<script src="{% static 'js/clipboard.min.js' %}"></script>
{% endblock %}
