{% extends 'index.html' %} {% block title %}Share {{ project.name }}{% endblock %} {% block content %}
<div class="page-header">
    <h3><a href="{% url 'projects' %}">My Projects</a> <span>&raquo;</span> Share "{{ project.name }}"</h3>
</div>
<div class="col-md-12">
    <div class="well">
        <form class="form-horizontal" action="#" onsubmit="return false;">
            <legend>Basic Sharing</legend>
            <div class="form-group">
                <label class="control-label col-md-3" for="name">Make project public</label>
                <div class="col-md-9">
                    <div class="input-group">
                         <input type="checkbox" {% if project.is_public %}checked{% endif %} data-toggle="toggle" data-size="mini" data-onstyle="success" onChange="set_public($(this).prop('checked'));" data-offstyle="danger">
                         <div class="alert alert-info alert-small" role="alert">Public projects will be listed on your public profile and can be viewed for everyone.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="name">Private sharing links</label>
                <div class="col-md-9">
                    {% with project.projectlink_set.all as links %}
                    {% if links %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-8">Link</th>
                                <th class="col-md-3">Created at</th>
                                <th class="col-md-1">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in project.projectlink_set.all %}
                            <tr>
                                <td>
                                    <small><a href="{% if request.is_secure %}http://{% else %}http://{% endif %}{{ request.get_host }}{% url 'show_interactive' project.user.username project.slug %}?view_key={{ link.link }}">{% if request.is_secure %}http://{% else %}http://{% endif %}{{ request.get_host }}{% url 'show_interactive' project.user.username project.slug%}?view_key={{ link.link }}</a></small>
                                </td>
                                <td>
                                     <small><time class="timeago" datetime='{{ link.created_at|date:"c" }}'>{{ link.created_at }}</time><small>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-danger btn-xs" onclick="delete_link('{{ link.link }}');">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <div class="alert alert-info alert-small" role="alert">You have not generated any private sharing link.</div>
                    {% endif %}
                    {% endwith %}
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" type="button" onclick="generate_link()"><span class="glyphicon glyphicon-refresh"></span> Generate new link</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-md-12">
    <div class="well">
        <form class="form-horizontal" action="#" onsubmit="share_with_team(); return false;">
            <legend>Share with your teams</legend>
            <div id="shared_team_list_container">
                 {% if shared_teams %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-8">Team</th>
                            <th class="col-md-2">Edits</th>
                            <th class="col-md-2">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shared_team in shared_teams %}
                        <tr>
                            <td>{{ shared_team.team.name }}</td>
                            <td>
                                <input type="checkbox" {% if shared_team.can_write %}checked{% endif %} data-toggle="toggle" data-size="mini" data-onstyle="success" onChange="set_team_write_permission('{{ shared_team.team.id }}', $(this).prop('checked'));" data-offstyle="danger">
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs" onclick="delete_team('{{ shared_team.team.id }}');">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-info">
                    <small>You did not shared this project with any team.</small>
                </div>
                {% endif %}
            </div>
            <div class="input-group">
                <select class="form-control input-sm" id="team_id">
                    <option selected disabled>Select a team</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="submit">
                        <span class="glyphicon glyphicon-share"></span> Share
                </button>
                </span>
            </div>
        </form>
    </div>
</div>
<script>
function initalizePlugins() {
    $('input:checkbox').bootstrapToggle({
        on: 'Yes',
        off: 'No'
    });
}

initalizePlugins();

$(document).ajaxComplete(function() {
    initalizePlugins();
});

function generate_link() {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.slug %}",
        data: {
            'action': 'generate_link',
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function(result) {
            if (result['status'] == 'ok') {
                location.reload();
            }
        }
    });
}

function delete_link(link) {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.slug %}",
        data: {
            'action': 'delete_link',
            'link': link,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function() {
            location.reload();
        }
    });
}

function share_with_team() {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.slug %}",
        data: {
            'action': 'share_with_team',
            'team_id': $('#team_id').val(),
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function() {
            location.reload();
        }
    });
}

function delete_team(id) {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.slug %}",
        data: {
            'action': 'delete_team',
            'team_id': id,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function() {
            location.reload();
        }
    });
}

function set_team_write_permission(team_id, permission) {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.slug %}",
        data: {
            'action': 'set_team_write_permission',
            'team_id': team_id,
            'permission': permission,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        },
        success: function() {
            location.reload();
        }
    });
}

function set_public(permission) {
    $.ajax({
        type: "POST",
        url: "{% url 'projects_share' project.slug %}",
        data: {
            'action': 'set_public',
            'permission': permission,
            'csrfmiddlewaretoken': '{{csrf_token}}',
        }
    });
}

</script>
{% endblock %} {% block header %}
{% endblock %}
