{% extends 'index.html' %} {% block title %}Teams{% endblock %} {% block content %}
<div class="page-header">
    <h3>Teams</h3>
</div>
<div id="list_teams">
    {% if teams %}
    <div class="well">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-2 td-center">Shared</th>
                    <th class="col-md-2 td-center">Members</th>
                    <th class="col-md-2 td-center">Created by</th>
                    <th class="col-md-1 td-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td class="td-center"><a href="{% url 'teams_projects' team.id team.name %}"><b>{{ team.projectteam_set.all|length }}</b> projects</a></td>
                    <td class="td-center"><a href="{% url 'teams_members' team.id team.name %}"><b>{{ team.teamuser_set.all|length }}</b> users</a></td>
                    <td class="td-center"><a href="{% url 'user_profile' team.owner %}">{{ team.owner }}</a></td>
                    <td class="td-center">
                        {% if team.owner.id == request.user.id %} 
                        <a href="#" class="btn btn-danger btn-xs" onclick="delete_team({{ team.id }}, '{{ team.name }}');">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                        </a>           
                        {% else %}
                        <a href="#" class="btn btn-warning btn-xs" onclick="leave_team('{{ user.id }}', {{ team.id }});">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Leave
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info">
        You are not a member of any team.
    </div>
    {% endif %}
</div>
<br />
<div class="well">
    <form class="form-horizontal" action="#" onsubmit="create_team(); return false;">
        <legend>Create a new team</legend>
        <div class="input-group">
            <input type="text" class="form-control" id="team_name" placeholder="Name">
            <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-ok"></span> Create
            </button>
            </span>
        </div>
    </form>
</div>
<script>
function create_team() {
    $.ajax({
        type: "POST",
        url: "{% url 'teams' %}",
        data: {
            'action': 'create_team',
            'name': $('#team_name').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function() {
            location.reload();
        }
    });
}

function delete_team(id, name) {
    if (confirm('Are you sure you want to delete team "' + name + "'?"))
    {
        $.ajax({
            type: "POST",
            url: "{% url 'teams' %}",
            data: {
                'action': 'delete_team',
                'id': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function() {
                location.reload();
            }
        });
    }
}

</script>
{% endblock %}
