{% extends 'index.html' %} {% block title %}{{ team.name }} members{% endblock %} {% block content %}
<div class="page-header">
    <h3><a href="{% url 'teams' %}">Teams</a> &raquo; "{{ team.name }}" members</h3>
</div>
<div id="list_team_members">
    {% if members %}
    {% load gravatar %}
    <div class="well">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2"></th>
                    <th class="col-md-4 td-center">Username</th>
                    <th class="col-md-4 td-center">Joined</th>
                    <th class="col-md-2 text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td><img class="gravatar-square" src="{{ member.user.email|gravatar }}" /></td>
                    <td class="td-center">
                        {% if member.user.id == team.owner.id %}
                            <span class="label label-default">Admin</span>
                        {% endif %}
                        <a href="{% url 'user_profile' member.user.username %}">{{ member.user.username }}</a>
                    </td>
                    <td class="td-center"><small><time class="timeago" datetime='{{ member.created_at|date:"c" }}'>{{ member.created_at }}</time><small></td>
                    <td class="text-center">
                    {# admin can remove every user except admin #}
                    {% if team.owner.id == request.user.id and member.user.id != request.user.id %}
                        <a href="#" class="btn btn-danger btn-xs" onclick="remove_member({{ member.user.id }});">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                        </a>
                    {# every other user can leave #}
                    {% elif team.owner.id != request.user.id and member.user.id == request.user.id %}
                        <a href="#" class="btn btn-warning btn-xs" onclick="remove_member({{ member.user.id }});">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Leave
                        </a>
                    {% else %}
                    -
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info">
        Team does not have any member.
    </div>
    {% endif %}
</div>
<br />
{% if team.owner.id == request.user.id %}
<div class="well">
    <form class="form-horizontal" action="#" onsubmit="add_member(); return false;">
        <legend>Add user to team</legend>
        <div id="error_bar" class="alert alert-warning" style="display: none">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" id="criteria" placeholder="Username or e-mail adress">
            <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-ok"></span> Add
            </button>
            </span>
        </div>
    </form>
</div>
{% endif %}
<script>
function add_member() {
    $.ajax({
        type: "POST",
        url: "{% url 'teams_members' team.id team.name %}",
        data: {
            'action': 'add_member',
            'criteria': $('#criteria').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(response) {
            if (response['status'] == 0)
            {
                location.reload();
            }
            else
            {
                $('#criteria').blur();
                $('#error_bar').text(response['status']);
                $('#error_bar').show();
            }
        }
    });
}

function remove_member(user_id) {
    $.ajax({
        type: "POST",
        url: "{% url 'teams_members' team.id team.name %}",
        data: {
            'action': 'remove_member',
            'user_id': user_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(response) {
            if (response['status'] == 0) {
                location.reload();
            }
            else if (response['status'] == 1)
            {
                window.location = "{% url 'teams' %}";
        }
        }
    });
}
</script>
{% endblock %}
