.dropdown img {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    margin-right: 5px;
}



/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
	padding-top: 30px;
    position: absolute;
    text-align: center;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
