.navbar {
    background-image: url("../img/fractal.jpg");
    background-repeat: repeat;
    border-bottom: 1px solid lightgray;
    padding-top: 16px;
    height: 80px;
}

.dropdown img {
	width: 32px;
	height: 32px;
	margin: 0px 6px;
	display: inline-block;
	border-radius: 50%;
}

.help-block {
	display: none;
}

.content {
	padding-top: 50px;
}

.label {
	margin-left: 5px;
	vertical-align: middle;
	font-size: 9px;
}

.fileUploadTxt {
	font-size: 12px;
}