{% if projects %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-6">Name</th>
                <th class="col-md-3">Last Modified</th>
                <th class="col-md-3 td-center"></th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'show_interactive' project.user project.name %}">{{ project.name }}</a></td>
                <td><small><time class="timeago" datetime='{{ project.created_at|date:"c" }}'>{{ project.created_at }}</time><small></td>
                <td>
                    <a href="{% url 'projects_share' project.name %}"><button type="button" class="btn btn-default btn-sm">Share</button></a>
                    <a href="{% url 'projects_edit' project.name %}"><button type="button" class="btn btn-default btn-sm">Edit</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
<div class="alert alert-info">
    There is no project to show here.
</div>
{% endif %}
