{% if projects %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-6">Name</th>
                <th class="col-md-3">Last Modified</th>
                <th class="col-md-3 td-center"></th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                {% if shared_with_me %}
                <td>{{ project.user.username }}</td>{% endif %}
                <td><small><time class="timeago" datetime='{{ project.created_at|date:"c" }}'>{{ project.created_at }}</time><small></td>
                <td>
                    --
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
<div class="alert alert-info">
    There is no project to show here.
</div>
{% endif %}
