 {% if shared_teams %}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-10">E-mail</th>
            <th class="col-md-1">Edits</th>
            <th class="col-md-1">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for shared_team in shared_teams %}
        <tr>
            <td><small>{{ shared_team.team.name }}</small></td>
            <td>
                <input type="checkbox" {% if shared_team.can_write %}checked{% endif %} data-toggle="toggle" data-size="mini" data-onstyle="success" data-offstyle="danger">
            </td>
            <td>
                <a href="#" class="btn btn-danger btn-xs" onclick="delete_team('{{ shared_team.team.id }}');">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <small>You did not shared this project with any team.</small>
</div>
{% endif %}
