 {% if shared_emails %}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-10">E-mail</th>
            <th class="col-md-1">Edits</th>
            <th class="col-md-1">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for shared_email in shared_emails %}
        <tr>
            <td><small>{{ shared_email.email }}</small></td>
            <td>
                <input type="checkbox" {% if shared_email.can_write %}checked{% endif %} data-toggle="toggle" data-size="mini" data-onstyle="success" onChange="set_email_write_permission('{{ shared_email.email }}', $(this).prop('checked'));" data-offstyle="danger">
            </td>
            <td>
                <a href="#" class="btn btn-danger btn-xs" onclick="delete_email('{{ shared_email.email }}');">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <small>You did not shared this project with any person.</small>
</div>
{% endif %}
