{% load gravatar %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>anvi'o server</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css' />
</head>

<body>
    <center>
        <br />
        <br />
        <img width="400px" src="{% static 'img/cat.jpg' %}" />
        <br />
        <br />
        <span style="font-size: 32px; font-family: Lato">Something went wrong :(</span><br /><br />
        <span style="font-size: 18px; font-family: Lato">It seems you don’t have permission to view this page, or this page does not exist at all.<br><br>Please feel free to send an e-mail to <a href="http://merenlab.org/people/">us</a> if you are convinced that this is an error is due to a problem on our side, .. or if you don't think that but still want to say hi anyway (we like them e-mails).</span>
        <br><br><br><br>
        <span style="font-size: 18px; font-family: Lato"><a href="#" onclick="window.history.back();">Go Back</a></span>
    </center>
</body>

</html>
