{% extends 'base.html' %} {% block body %}
    <div class="container">
        <div id="content" class="row">
            <div class="main col-sm-12 col-md-12">
                {% block content %}
                <div class="jumbotron greeting">
                    <div class="container">
                        <img src="/static/img/uchicago-mbl.png" style="width: 120px; margin-right: 30px; float: left;"><h2 style="margin-top: 10px; font-size: 250%;">Welcome to anvi'server</h2>
                        <p>An open source interactive visualization platfrom</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="carousel" class="peopleCarouselImg carousel slide" data-ride="carousel" data-interval="6000">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                            <li data-target="#carousel" data-slide-to="3"></li>
                            <li data-target="#carousel" data-slide-to="4"></li>
                            <li data-target="#carousel" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner carousel-size" role="listbox">
                            <div class="item active">
                                <img src="/static/img/carousel1.png" class="carouselImage">
                            </div>
                            <div class="item">
                                <img src="/static/img/carousel2.png" class="carouselImage">
                            </div>
                            <div class="item">
                                <img src="/static/img/carousel3.png" class="carouselImage">
                            </div>
                            <div class="item">
                                <img src="/static/img/carousel4.png" class="carouselImage">
                            </div>
                            <div class="item">
                                <img src="/static/img/carousel5.png" class="carouselImage">
                            </div>
                            <div class="item">
                                <img src="/static/img/carousel6.png" class="carouselImage">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev" style="background-image: none;">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel" role="button" data-slide="next" style="background-image: none;">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <h1>Public Project Gallery</h1>
                    <div class="col-md-12" style="height: 32px;"></div>
                    <div class="col-md-3 landing-badge">
                        <img src="/static/img/project1.png"></img>
                        <h4>Phylogenomics</h4>
                        <a href="/merenlab/tara_hbds" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-eye-open"></span> View
                        </a>
                        <p>A phylogenomic analysis of 475 population genomes from the TARA Oceans metagenomes, which is a figure in our recent pre-print, <a href="http://biorxiv.org/content/early/2017/04/23/129791">"Nitrogen-Fixing Populations Of Planctomycetes And Proteobacteria Are Abundant In The Surface Ocean".</a></p>
                    </div>
                    <div class="col-md-3 landing-badge">
                       <img src="/static/img/project2.png"></img>
                        <h4>Taxonomic profiling</h4>
                        <a href="/merenlab/hmp_metagenomes" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-eye-open"></span> View
                        </a>
                        <p>Taxonomic profiling of 690 metagenomes from the Human Microbiome Project.</p>
                    </div>
                    <div class="col-md-3 landing-badge">
                        <img src="/static/img/project3.png"></img>
                        <h4>Metagenomic binning</h4>
                        <a href="/merenlab/infant_gut_metagenomics_sharon_et_al_2015" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-eye-open"></span> View
                        </a>
                        <p>Comparing binning results from multiple algorithms on a simple gut metagenome.</p>
                    </div>
                    <div class="col-md-3 landing-badge">
                        <img src="/static/img/project4.png"></img>
                        <h4>Pangenomics</h4>
                        <a href="/merenlab/prochlorococcus_metapangenome" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-eye-open"></span> View
                        </a>
                        <p>An analysis of protein clusters recovered from 31 Prochlorococcus genomes in the context of TARA Oceans metagenomes.</p>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
