{% extends 'base.html' %} {% block body %}
{% load profile_link %}
    <div class="container">
        <div id="content" class="row">
            <div class="main col-sm-12 col-md-12">
                {% block content %}
                <div class="page-header">
                    <h2>Welcome to Anvi'o Server!</h2>
                </div>
                <div class="main col-sm-6 col-md-6">
                    <div class="panel panel-default panel-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Latest News</h3>
                        </div>
                        <div class="panel-body">
                            {% for feeditem in feeditems %}
                                <span class="feeditem">
                                {% if feeditem.teamuser %}
                                    {% if feeditem.teamuser.team.owner == feeditem.teamuser.user %}
                                        You created 
                                    {% else %}
                                        {% profile_link feeditem.teamuser.team.owner request.user %}
                                        added
                                        {% profile_link feeditem.teamuser.user request.user False %}
                                        to 
                                    {% endif %}
                                    <a href="{% url 'teams_members' feeditem.teamuser.team.id feeditem.teamuser.team.name %}">
                                        {{ feeditem.teamuser.team.name }}
                                    </a>
                                {% elif feeditem.projectteam %}
                                    {% profile_link feeditem.projectteam.project.user request.user %}
                                    shared 
                                    <a href="{% url 'show_interactive' feeditem.projectteam.project.user.username feeditem.projectteam.project.name %}">
                                        {{ feeditem.projectteam.project.name }}
                                    </a>
                                    with
                                    <a href="{% url 'teams_projects' feeditem.projectteam.team.id feeditem.projectteam.team.name %}">
                                        {{ feeditem.projectteam.team.name }}
                                    </a>
                                {% endif %}
                                <small>
                                    <time class="timeago" datetime='{{ feeditem.created_at|date:"c" }}'></time>
                                </small>
                                {% if not forloop.last %}
                                    <hr class="separator">
                                {% endif %}
                                </span>
                            {% empty %}
                                <div class="alert alert-info">
                                    No recent activity to display
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="main col-sm-6 col-md-6">
                    <div class="panel panel-default panel-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Featured Projects</h3>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-info">
                                No recent featured projects to display
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}