<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>{{ project.name }} - Anvi Server</title>
		<style>
			html, body, iframe {
				margin: 0px;
				padding: 0px;
				width: 100%;
				height: 100%;
				border: 0px;
			}
		</style>
	</head>
	<body>
		<iframe src="/static/interactive/index.html?request_prefix=/ajax/{{project.user.username}}/{{project.name}}"></iframe>
	</body>
</html>