{% extends 'index.html' %} {% block title %}{{ profile_user.username }}'s public projects{% endblock %} {% block content %}
{% load gravatar %}
<div class="col-md-12 col-sm-12" style="margin: 32px 0px;">
    <div style="float: left; margin: 0px 16px;">
        <img src="{{ profile_user.email|gravatar:100 }}" />
    </div>
    <div style="float: left;">
        <h2 style="margin-top: 0px; margin-bottom: 16px;">{% if profile_user.userprofile.fullname %}{{ profile_user.userprofile.fullname }}{% else %}{{ profile_user.username }}{% endif %}<small>'s public projects</small></h2>
        <span class="glyphicon glyphicon-calendar"></span> Member since <b>{{ profile_user.date_joined|date:"N Y" }}</b><br />
        {% if profile_user.userprofile.institution %}<span class="glyphicon glyphicon-education"></span> Affiliated with <b>{{ profile_user.userprofile.institution }}</b><br />{% endif %}
        {% if profile_user.userprofile.orcid %}<img src="https://orcid.org/sites/default/files/files/ID_symbol_B-W_16x16.png" /> ORCID ID <b><a href="https://orcid.org/{{ profile_user.userprofile.orcid }}">{{ profile_user.userprofile.orcid }}</a></b><br />{% endif %}
    </div>
</div>

<div id="list_projects" class="col-md-12">
    {% if projects %}
     <div class="well">
        <table id="project_table" class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-1">Layers</th>
                    <th class="col-md-1">Leaves</th>
                    <th class="col-md-1">Collections</th>
                    <th class="col-md-1">States</th>
                    <th class="col-md-2">Created</th>
                    <th class="col-md-5"></th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'show_interactive' project.user project.name %}">{{ project.name }}</a></td>
                    <td>{{ project.num_layers }}</td>
                    <td>{{ project.num_leaves }}</td>
                    <td>{{ project.get_collection_count }}</td>
                    <td>{{ project.get_states_count }}</td>
                    <td><small><time class="timeago" datetime='{{ project.created_at|date:"c" }}'>{{ project.created_at }}</time><small></td>
                    <td class="td-center" style="text-align: center;">
                        <a href="{% url 'show_interactive' project.user.username project.name %}" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-eye-open"></span> View
                        </a>
                        <a href="{% url 'download_zip' project.user.username project.name %}" class="btn btn-xs btn-success">
                             <span class="glyphicon glyphicon-download-alt"></span> Download ZIP
                        </a>
<!--                         <a href="{% url 'download_zip' project.user.username project.name %}" class="btn btn-xs btn-success">
                             <span class="glyphicon glyphicon-download-alt"></span> Description
                        </a> -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <div class="alert alert-info">
        There is no project to show here.
    </div>
    {% endif %}

</div>
{% endblock %}